<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Connected Realm ID</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @realms.each do |realm| %>
    <tr>
      <td><%= realm.name %></td>
      <td><%= realm.connected_realm %></td>
      <td>
        <% if @subscribed_realm_ids.include? realm.connected_realm %>
        <%= form_for([:unsubscribe, realm]) do |f| %>
        <%= f.submit "-" %>
        <% end %>
        <% else %>
        <%= form_for([:subscribe, realm]) do |f| %>
        <%= f.submit "+" %>
        <% end %>
        <% end %>
      </td>
    </tr>
    <% end %>
  <tbody>
</table>